/* Element Variables */

// Override Element UI variables

$--color-success: #13ce66;
$--color-danger: #ff4949;
$--color-info: #5d5d5d;
$--button-font-weight: 400;
$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;
$--table-border:1px solid #dfe6ec;
$--color-primary:#409EFF;
$--color-warning:#E6A23C;
$--color-text-primary:#303133;
$--color-text-regular:#606266;
$--color-text-placeholder:#C0C4CC;
$--border-color-base:#DCDFE6;
$--background-color-base:#F5F7FA;

// Icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// Apply overrided variables in Element UI
@import '~element-ui/packages/theme-chalk/src/index';
